<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    {{> common/styles }}
  </head>
  <body class="h-100">
    <div class="container h-100">
      <div class="row h-100">
        <!-- Main Sidebar -->
        <!-- End Main Sidebar -->
        <main class="main-content col-12">
            {{{body}}}
        </main>
      </div>
    </div>
    {{> common/scripts}}
  </body>
</html>