<!doctype html>
<html class="no-js h-100" lang="en">

<head>
    {{> common/styles }}
</head>

<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <!-- Main Sidebar -->
            {{> common/sidebar}}
            <!-- End Main Sidebar -->
            <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
                {{> common/navbar }}
                    {{{body}}}
                {{> common/footer}}
            </main>
        </div>
    </div>
    {{> common/scripts}}
</body>

</html>