<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4 col-sm-12">
            <div class="row mb-3">
                <img src="/images/logo.png" class="rounded mx-auto d-block">
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-0 px-3 pt-3 card card-small mb-4">
                    <strong class="text-muted d-block mb-2">Login</strong>
                    <form action="/login" method="POST">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <input type="text" {{#if invalidEmail}} class="form-control is-invalid" {{else}} class="form-control"
                                    {{/if}} id="email" name="email" placeholder="Email" required>
                                {{#if invalidEmail}}
                                <div class="invalid-feedback">{{emailError}}</div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <input type="password" {{#if invalidPassword}} class="form-control is-invalid" {{else}}
                                    class="form-control" {{/if}} id="pasword" name="password"
                                    placeholder="Enter password..." required>
                                {{#if invalidPassword}}
                                <div class="invalid-feedback">{{passwordError}}</div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12 text-center">
                                <button type="submit" class="mb-2 btn btn-sm btn-white">Log In</button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>